
@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Unauthorized Access</h2> 
<br />
<div> 
    <p> You are not authorized to access that part of the system! 

    </p> 

</div>
