@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    17425 NE Union Hill Rd<br />
    Redmond, WA 980529<br />
    <abbr title="Phone">P:</abbr>
    425.889.3900
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>